@tailwind base;
@tailwind components;
@tailwind utilities;

.outline {
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #F9FAFB;
}


/* Mettre ici les styles "globaux" */